<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/publications">Published Work</a></li>
	    		</ul>
			</nav>
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hertel.jana@googlemail.com"><img src="https://cloud.githubusercontent.com/assets/10939873/7347695/5ae885d2-eceb-11e4-860a-430f6df71c61.png"></a></li>
	        		<!--<li><a href="https://github.com/mai00fti">github.com/mai00fti</a></li>-->
	        		<li><a href="https://www.linkedin.com/in/janahertel"><img src="https://cloud.githubusercontent.com/assets/10939873/7347444/01167a02-ece9-11e4-8720-185937515e48.png"></a></li>
	        		<li><a href="https://www.xing.com/profile/Jana_Hertel3"><img src="https://cloud.githubusercontent.com/assets/10939873/7347443/01105eb0-ece9-11e4-9143-fb9991499985.png"></a></li>
	        		<li><a href="https://twitter.com/jana_hertel"><img src="https://cloud.githubusercontent.com/assets/10939873/7347442/010ed888-ece9-11e4-84a8-31e21275a791.png"></a></li>
			</ul>
			</footer>
		</body>
	</html>
